.search {
  width: 100%;
  max-width: 330px;
  margin-right: 10px;
  z-index: 10;
}

.search input {
  padding: 0.2rem;
  font-size: 0.9rem;
  width: 100%;
  border: 3px solid #38b2ac;
  border-radius: 5px;
  background-color: #edf2f7;
}

